{erl_opts, [
  debug_info, 
  compressed, 
  report, 
  warn_export_all, 
  warn_export_vars, 
  warn_shadow_vars, 
  warn_unused_function, 
  warn_deprecated_function, 
  warn_obsolete_guard, 
  warn_unused_import 
%  warnings_as_errors
]}.

{deps, [
  {gen_server2, ".*", {git, "git://github.com/erlang-china/gen_server2.git", "master"}}
]}.
